<html>
        <head>
                <title>Assert Developer Portal</title>
                <link rel="icon" href="https://assertapp.net/media/logo.png">
                <link rel="stylesheet" href="https://assertapp.net/media/style.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body>
                <div class="box">
                        <form action="/submitLink">
                                <input type="text" name="link" style="background-color: white">
                                <input type="submit">
                        </form>
                        {% if urls %}
                                <ul>
                                {% for url in urls %}
                                <li>{{url.url}}<a href="/delete?link={{url.uuid}}"><i class="fa fa-trash"></i></a></li>
                                {% endfor %}
                                </ul>
                        {% endif %}
                        {% if not urls %}
                                <p>You currently have no enabled URLs</p>
                        {% endif %}
                        <a href="https://docs.assertapp.net">Go to the docs to find out how to implement Assert into your website</a>
                </div>
        </body>
</html>
