<html>
	<head>
		<title>Assert Developer Portal</title>
		<link rel="icon" href="https://assertapp.net/media/logo.png">
		<link rel="stylesheet" href="https://assertapp.net/media/style.css">
	</head>
	<body>
		<div class="box">
			{% if links %}
				<ul>
				{% for url in urls %}
					<li>{{url.url}}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% if not links %}
				<p>You currently have no enabled URLs</p>
			{% endif %}
			<p><a href="learnmore">Learn more</a> about the Assert Developer portal</p>
		</div>
	</body>
</html>
